body {
    background-color: #004b4b;
    color: white;
    font-family: "Press Start 2P", sans-serif;
}
h1 {
    text-transform: uppercase;
    font-size: 42px;
    line-height: 1.5;
}
p {
    vertical-align: middle;
}
.container {
    width: 100%;
    display: flex;
    text-align: center;
}
.left_side, .right_side {
    flex: 1 1 0;
    flex-grow: 1;
    margin-top: 20px;
}
.right_side {
    display: none;
}
#out {
    overflow: hidden;
    border-radius: 10px;
}
canvas {
    width: 0;
    height: 800px;
    transition: width .2s linear;
}

.btn {
    text-transform: uppercase;
    text-decoration: none; 
    text-align: center; 
    padding: 11px 32px; 
    border: solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font: 18px "Press Start 2P", Arial, Helvetica, sans-serif;
    color: #E5FFFF; 
    background-color: #104040; 
    background-image: -moz-linear-gradient(top, #104040 0%, #00b3b3 100%); 
    background-image: -webkit-linear-gradient(top, #104040 0%, #00b3b3 100%); 
    background-image: -o-linear-gradient(top, #104040 0%, #00b3b3 100%); 
    background-image: -ms-linear-gradient(top, #104040 0% ,#00b3b3 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3b3', endColorstr='#00b3b3',GradientType=0 ); 
    background-image: linear-gradient(top, #104040 0% ,#00b3b3 100%);   
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 12px;
    margin-bottom: 10px;
}
.sub_button {
    color: black;
    font-size: 10px;
    margin-bottom: 20px;
}
#status {
    font-size: 20px;
    line-height: 1.2;
}
.help {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.help span {
    margin: 0 10px;
}
#record {
    font-weight: 700;
    color: rgb(87, 0, 0);
}